---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="b157586e9cfabaaf97a33b556e99fa52",
        oauth_nonce="MzoiDJATpP5vR8wjX%2BAMnUio1q9Y63Gd93P0DpReUNQ%3D", oauth_signature="8c8de653011ba227%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1487247373", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: text=ruby+on+rails&per_page=12&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="b157586e9cfabaaf97a33b556e99fa52",
        oauth_nonce="au9VntT7UMit9iet%2Bcu%2BDVvKpFgxhY7KvW9TIrESR0E%3D", oauth_signature="8c8de653011ba227%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1487247373", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":787,"perpage":12,"total":"9443","photo":[{"id":"32085050264","owner":"145309443@N07","secret":"eb8c151336","server":"2287","farm":3,"title":"Ruby
        on Rails online Training","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32882008486","owner":"145390416@N08","secret":"900d9747bd","server":"656","farm":1,"title":"Ruby
        on Rails 3 Tutorial","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32882008276","owner":"145390416@N08","secret":"c78433ed31","server":"2891","farm":3,"title":"Ruby
        on Rails for Microsoft Developers","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32922360175","owner":"145390416@N08","secret":"2e0878703a","server":"2361","farm":3,"title":"Ruby
        on Rails Tutorial, 2nd [...]
